<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>In order to display photos, you must grant photo lirbary access to Clique. We do not store your photos</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.cliquellc.clique.backgroundtask</string>
		<string>com.clique.feed.refresh</string>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>My Document</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.json</string>
			</array>
		</dict>
	</array>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>clique</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-709279142226-ios-db89cd150236839599ea8b</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>cliqueapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>clique</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>accbf7e7599704f989a582ebfcf59ca4-1759478004.us-east-2.elb.amazonaws.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>REPORT_URL</key>
	<string>https://script.google.com/macros/s/AKfycbxhSTg4BzkxHgBN236WmkvtFdM37RMNGdPDLiCc8cPBP3tp2mGp_pg4jXSneRZ91gjS/exec</string>
	<key>UIAppFonts</key>
	<array>
		<string>Newake-Font-Demo.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>splash-color</string>
		<key>UIImageName</key>
		<string>splash</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
	<key>MixpanelToken</key>
	<string>e4c863cc3e457e493acd99cb68449ff0</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<false/>
</dict>
</plist>
